@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/main-bg.jpg) top left repeat-x #1e2f39;
	}
a{
	outline:none;
	}
h1{	
	background:url(images/title-icon.gif) left 0.3em no-repeat;
	font-weight:normal;
	float:left;	
	margin:0px 0px 0px 22px;
	line-height:42px;
	font-family:Tahoma, Arial;
	font-size:30px;
	color:#d0d1d2;
	padding:0px 0px 15px 40px;
	}
#wrapper{
	display:block;
	margin-left:auto;
	margin-right:auto;
	min-width:1003px;
	}
#header{
	height:130px;	
	}
.fleft{
	float:left;
	}
.fright{
	float:right;
	}
.logo{
	padding:0px 21px;
	float:left;
	}
#headerlogin{
	display:block;
	float:right;
	padding-top:10px;
	padding-right:5px;
	line-height:19px;
	font-size:11px;
	color:#9aacb7;
	width:297px;
	/*width:360px;*/
	}
#headerlogin span{	
	color:#bec9d0;
	}
#headerlogin .accountdetail{
	float:none;
	}
#headerlogin .accountdetail img{
	float:left;
	padding:1px 2px 0px 2px;
	}
#headerlogin .accountdetail a{
	text-decoration:none;
	color:#a9c3d5;
	}
#headerlogin .accountdetail a:hover{
	text-decoration:none;
	color:#d1eafb;
	}	
#headerlogin .devider{
	padding:0px 8px;
	margin:-10px 0px 0px 0px;
	float:left;
	}
.servertime{
	font-size:10px;
	color:#60717e;
	padding-top:5px;
	line-height:13px;
	}
#menu{
	display:block;
	float:left;
	width:97.5%;
	padding-left:22px;
	}
#menu ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
#menu ul li{
	font-family:Tahoma, Arial;
	font-size:12px;
	height:43px;
	line-height:42px;
	float:left;
	background:url(images/mnu-devider.png) top right no-repeat;
	font-weight:bold;
	}
#menu ul li.homeicon{		
	padding-right:15px;
	padding-top:5px;
	}
#menu ul li.homeicon a{
	padding:0px;
	}
#menu ul li a{
	color:#cecece;
	/*padding:14px 13px;
	background:none;
	height:43px;*/
	text-decoration:none;
	}
/*#menu ul li a:hover{
	background: url(images/mnu-hover.jpg) top left repeat-x;
	height:43px;
	color:#eeeeee;
	position:relative;	
	}*/
#mid-content{
	display:block;
	float:left;
	width:100%;
	/*padding:10px 25px 0px 22px;*/	
	min-width:1003px;
	}
#mid-content #mid-box{
	padding:10px 25px 0px 22px;
	}
#con-top{
	background:url(images/c1-t.jpg) top left repeat-x;
	width:100%;
	/*float:left;*/
	clear:both;
	height:9px;
	}
#con-mid{
	background:#657076;
	float:left;
	width:100%;
	}
#con-tabs{
	display:block;
	color:#FFFFFF;
	background:#657076;
	/*padding:10px 10px 0px 10px;*/
	padding:0px 10px 0px 10px;
	}
#con-tabs ul{
	margin:0px;
	padding:0px 0px 0px 10px;
	list-style:none;
	}
#con-tabs ul li{
	font-size:12px;
	/*color:#CC3300;*/
	line-height:28px;
	margin:0px 2px;
	/*height:28px;*/
	float:left;
	padding-top:15px;
	}
#con-tabs ul li.first{
	background:url(images/first-l.jpg) top left no-repeat;
	height:38px;
	float:left;
	}
#con-tabs ul li.first span{
	background:url(images/first-r.png) top left no-repeat;
	}
#con-tabs ul li a{
	text-decoration:none;
	background:#364852;
	padding:12px 15px;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
	color:#ececec;
	font-weight:bold;
	font-family:"Tahoma", Arial;
	}
#con-tabs ul li a:hover{
	background:#ececec;
	color:#364852;
	}
#con-tabs #text{
	display:block;
	color:#000000;
	width:98.4%;
	font-size:12px;
	background:#ececec;
	padding:10px;	
	float:left;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	}
.inr-header{
	background:url(images/deal-top.jpg) top left repeat-x;
	height:31px;
	color:#dedede;
	text-align:left;
	padding-left:10px;
	font-family:"Tahoma", Arial;
	font-size:11px;
	line-height:31px;
	}
.inr-header	img{
	float:right;
	padding:7px 8px;
	}
.inr-header	img.arrow{
	float:right;
	padding:4px 8px;
	}
.inr-header a{
	text-decoration:none;
	color:#dedede;
	}
.inr-header a:hover{
	color:#FFFFFF;
	}
.deals{
	font-family:Tahoma, Arial;
	font-size:11px;
	color:#000000;
	padding-top:0px;
	}
.deals table, td, tr{
	text-align:center;	
	}
/*.deals table tr:hover td{
	background:#f0f0f0;
	}*/
.deals table tr td.greenobg{
	background:#888f91;
	}
/*.deals table tr.alter td{
	background:#e4e5e5;
	}
.deals table tr.alter:hover td{
	background:#d7d8d8;
	}
*/

.alter{
	background:#e4e5e5;
	}
.alter:hover{
	background:#d7d8d8;
	}
.marked{
	background:#f9fba9;
	}
.marked:hover{
	background:#d7d8d8;
	}
.alter1{
	background:#f0f1f1;
	}
.alter1:hover{
	background:#dadada;
	}
.marked1{
	background:#fbfcc6;
	}
.marked1:hover{
	background:#dadada;
	}
/*.deals table tr.alter1 td{
	background:#f0f1f1;
	}
.deals table tr.alter1:hover td{
	background:#dadada;
	}*/
.deals table tr.inner-tablebg td{
	background:url(images/table-f-bg.jpg) top left repeat-x;
	}
.deals table tr td table tr.inner-table td{
	background:none;
	}
.deals table tr td table.inner-table tr:hover td{
	background:none;
	}
/*.deals tr:hover td{
	background:#d1d3d3;
	}
.deals tr:hover td.no-bg{
	background:none;
	}	*/
/*.deals-inr tr:hover td{
	background:#d1d3d3;
	}*/
.deals th{
	background:url(images/table-header-bg.jpg) top left repeat-x;
	}
/*.deal-td-bg td{
	background:url(images/table-bg.jpg) top left repeat-x;
	}*/
.pad-left{
	padding-left:10px;
	text-align:left;
	padding-right:10px;
	}
.pad-left a{
	text-decoration:none;
	color:#657076;
	}
.pad-left a:hover{
	color:#1e2f39;
	}
.search-table tr:hover td{
	background:none;
	}
.withdraw_req{
	float:left;
	padding:10px 0px 8px 5px;
	font-family:"Tahoma", Arial;
	font-size:11px;
	line-height:21px;
	color:#000000;
	}
.withdraw_req img{
	margin-top:-2px;
	padding:0px 22px;
	}
body #footer{
	background:url(images/footer-bg.jpg) top left repeat-x #2f414c;
	margin:25px 0px 0px 0px;
	line-height:16px;
	color:#828c92;
	min-height:81px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	min-width:1003px;
	width:100%;
	}
.flinks{
	float:left;
	background:none;
	color:#828c92;
	padding-left:10px;
	}
.flinks span{	
	line-height:28px;
/*	float:left;*/
	}
.flinks a, .need-help a{
	text-decoration:none;
	background:none;
	padding:0px 2px;
	color:#828c92;
	}
.flinks a:hover, .need-help a:hover{
	color:#c3cace;
	}
.need-help{
	float:right;
	padding-top:18px;
	text-align:right;
	padding-right:10px;
	}
.quick-search{
	background:url(images/quic-bg.jpg) top left repeat-x;
	/*height:30px;*/
	text-align:left;
	padding-top:3px;
	height:27px;
	padding-left:10px;
	color:#545758;
	}
.search-txt{
	background:#FFFFFF;
	width:35%;
	font-family:Tahoma, Arial;
	font-size:11px;
	padding-left:3px;
	margin-left:3px;
	padding-top:3px;
	line-height:15px;
	height:17px;
	border:1px solid #888f91;
	}
.search-dropdown{
	background:#FFFFFF;
	width:100%;
	font-family:Tahoma, Arial;
	font-size:11px;
	padding-left:3px;
	margin-left:3px;
	padding-top:3px;
	padding-bottom:2px;
	margin-bottom:0px;
	line-height:18px;
	height:24px;
	border:1px solid #888f91;
	}
/************************** Add - Deal Form *********************/
.flash{
	display:block; 
	background:#E1E1E1; 
	border:1px solid #CCCCCC; 
	height:235px; 
	width:100%; 
	margin:10px 0px; 
	line-height:235px; 
	font-size:25px;
	}
#commission{
	display:block;
	background:url(images/commission_bg.png) top left no-repeat; 
	height:185px; 
	width:859px; 
	margin:10px 0px;
	padding:41px 0px 0px 41px;
	text-align:left; 	
	font-size:25px;
	}
#commission:hover{
	display:block;
	background:url(images/commission_bg-ho.png) top left no-repeat; 
	height:185px; 
	width:902px; 
	margin:10px 0px;
	padding:41px 0px 0px 41px;
	text-align:left; 	
	font-size:25px;
	}
#add-deal #commission input{
	background:#ececec;
	border:1px solid #a8a3a3;
	}
#commission h4{
	font-family:"Calibri", Arial, Verdana;
	font-size:24px;
	color:#3b484f;
	font-weight:bold;
	margin:0px;
	padding:0px;
	line-height:18px;
	}
#commission .calcy{
	display:block;
	width:610px;
	float:left;
	line-height:28px;
	font-family: "Gill Sans MT", Arial, Verdana;
	font-size:14px;
	padding:20px 0px 0px 94px;
	}
.net-profit{
	font-family: "MS Sans Serif", Arial, Verdana;
	font-size:12px;
	padding-top:43px;
	width:250px;
	float:left;
	font-weight:bold;
	color:#3b484f;  
	}
#add-deal{
	display:block;
	width:900px;
	}
#add-deal form{
	margin:0px;
	width:900px;
	padding:0px;
	}
.step{
	width:900px;
	margin:0px;
	border:none;
	padding:0px;
	}
#add-deal form p.info, p.info-r{
	display:block;
	background: url(images/information2.png) left top no-repeat;
	float:left;
	width:200px;
	color: #ACACAC;
	margin:0px 0px 0px 280px;
	padding:0px 0px 8px 35px;
	text-align:left;
	}
#add-deal form p.info-r{
	margin:0px 0px 0px 142px;
	padding:0px 0px 8px 35px;
	}
#add-deal form p.info:hover, p.info-r:hover{
	display:block;
	background: url(images/comment_delete.png) left top no-repeat;
	float:left;
	width:200px;
	color: #333333;
	margin:0px 0px 0px 280px;
	padding:0px 0px 8px 35px;
	text-align:left;
	}
#add-deal form p.info-r:hover{
	margin:0px 0px 0px 142px;
	padding:0px 0px 8px 35px;
	}
.side-deal{
	display:block;
	width:500px;
	float:left;
	padding-left:279px;
	padding-bottom:5px;
	}
/*#add-deal form p.info img, p.info-r img{
	float:left;
	padding:0px 5px;
	}
#add-deal form p.info-r{
	width:250px;
	padding-left:90px;
	}
#add-deal form p.error img, p.error-r img{
	float:left;
	padding:0px 5px;
	}
#add-deal form p.error-r{
	width:250px;
	padding-left:90px;
	}*/
#add-deal label{
	font-size:11px;
	/*width:130px;
	padding-left:140px;*/
	width:230px;
	padding-left:40px;
	float:left;
	text-align:right;
	line-height:23px;
	/*line-height:28px;*/
	padding-right:10px;
	font-weight:normal;
	}
#add-deal label.label1{
	width:125px;
	padding-left:50px;
	}
#add-deal label span{
	color:#FF0000;
	}
#add-deal input, select,textarea{
	width:210px;
	background:#f4f4f4;
	border:1px solid #e7e6e6;
	font-family:Tahoma, Arial;
	font-size:11px;
	margin-bottom:5px;
	margin-left:3px;
	float:left;	
	padding:3px 0px 6px 3px;	
	}
#add-deal select{
	padding-left:0px;
	width:215px;
	}
#add-deal textarea{
	height:70px;
	padding-left:3px;
	margin-left:0px;
	}
#add-deal .textarea1{
	height:70px;
	width:207px;	
	padding-left:3px;
	margin-left:3px;
	}
#con-tabs #deal-tabs{
	display:block;
	width:100%;
	padding-top:6px;
	}
#con-tabs #deal-tabs ul{
	margin:0px;
	padding:0px;
	z-index:1;
	list-style:none;
	}
#con-tabs #deal-tabs ul li{
	font-size:11px;
	float:left;
	margin:0px;
	padding:0px;
	/*margin:0px 2px 0px 0px;*/
	color:#000000;	
	}
#con-tabs #deal-tabs ul li, #con-tabs #deal-tabs ul li.step1, #con-tabs #deal-tabs ul li.step2, #con-tabs #deal-tabs ul li.step3, #con-tabs #deal-tabs ul li.step4 {
	font-size:11px;
	height:32px;
	float:left;
	margin:0px;
	padding:0px;
	z-index:1;
	/*margin:0px 2px 0px 0px;*/
	color:#000000;	
	}
#con-tabs #deal-tabs ul li.step1 a{
	background:url(images/1_step.png) top left no-repeat;
	padding:5px 42px;
	height:37px;
	-moz-border-radius:0px;
	float:left;
	} 
#con-tabs #deal-tabs ul li.step1 a:hover{
	background:url(images/1_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	} 
#con-tabs #deal-tabs ul li.step1 a.active{
	background:url(images/1_step-act.png) top left no-repeat;	
	position:relative;
	color:#3b484f;	
	} 
#con-tabs #deal-tabs ul li.step2 a{
	background:url(images/2_step.png) top left no-repeat;
	height:37px;
	margin-left:-23px;
	padding:5px 50px 5px 58px;
	-moz-border-radius:0px;
	float:left;
	}
#con-tabs #deal-tabs ul li.step2 a:hover{
	background:url(images/2_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	} 
#con-tabs #deal-tabs ul li.step2 a.visited{
	background:url(images/2_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	} 
#con-tabs #deal-tabs ul li.step2 a.active{
	background:url(images/2_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}	   
#con-tabs #deal-tabs ul li.step3 a{
	background:url(images/3_step.png) top left no-repeat;
	height:37px;
	margin-left:-20px;
	padding:5px 52px 5px 65px;
	-moz-border-radius:0px;
	float:left;
	}
#con-tabs #deal-tabs ul li.step3 a:hover{
	background:url(images/3_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}
#con-tabs #deal-tabs ul li.step3 a.active{
	background:url(images/3_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}      
#con-tabs #deal-tabs ul li.step4 a{
	background:url(images/4_step.png) top left no-repeat;
	height:37px;
	margin-left:-24px;
	padding:5px 56px 5px 73px;
	-moz-border-radius:0px;
	float:left;
	} 
#con-tabs #deal-tabs ul li.step4 a:hover{
	background:url(images/4_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}
#con-tabs #deal-tabs ul li.step4 a.active{
	background:url(images/4_step-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}
#con-tabs #deal-tabs ul li.step4 a.error{
	background: url(images/4_step-act-ho.png) top left no-repeat;
	position:relative;
	color:#3b484f;	
	}   	   	   	   	
#con-tabs #deal-tabs #deal-con{
	display:block;
	float:left;
	margin:4px 0px;
	padding:10px 0px;
	width:99.8%;
	border:1px solid #c5bfbf;
	background:#ececec;
	font-size:11px;
	z-index:0;
	}
.submit, .preview{
	background:url(images/btn-bg.jpg) top left repeat-x;
	color:#FFFFFF;
	-moz-border-radius:3px;
	/*border:1px solid #3b484f;*/
	-webkit-border-radius:3px;
	height:36px;
	float:left;
	width:150px;
	margin:0px;
	padding:0px;
	margin-left:3px;
	/*margin:10px 0px 0px 288px;*/
	/*padding:0px 0px 0px 0px;*/
	font-weight:bold;	
	}
.preview{
	margin:10px 0px 0px 10px;
	}
.vertical-line{
	background:url(images/vrt-bg.png) top center no-repeat; 
	margin-top:10px; 
	width:100%; 
	padding-top:15px;
	float:left;
	}
.OR{
	line-height:25px; 
	padding:0px 16px;
	float:left;
	}	
/************************** Add - Deal Form *********************/
#con-tabs .deal-status{
	display:block;
	width:98%;
	line-height:32px;
	position:relative;
	padding-bottom:5px;
	float:right;
	}
#con-tabs .deal-status ul{
	margin:0px;
	padding:0px;
	float:right;
	list-style:none;
	}
#con-tabs .deal-status ul li{
	margin:0px;
	float:left;
	display:inline;
	padding:0px 0px 0px 0px;	
	}
#con-tabs .deal-status ul li img{
	padding-top:3px;
	padding-right:20px;
	padding-left:4px;	
	}
#city-wisedeal{
	float:left;
	width:24.2%;
	padding:0px 9px 10px 0px;
	}
#city-wisedeal a{
	text-decoration:none;
	font-size:11px;
	padding:0px 3px;
	color:#990000;	
	}
#city-wisedeal a:hover{
	text-decoration: underline;
	color:#364852;	
	}
#con-tabs .citydeal{
	font-family:Tahoma, Arial;
	font-size:11px;
	width:100%;
	border:1px solid #c4c3c6;
	color:#000000;
	padding-top:0px;	
	}
#con-tabs .citydeal ul{
	margin:0px;
	float:left;
	padding:10px 0px 0px 0px;
	list-style:none;
	}
#con-tabs .citydeal ul li{
	display:block;
	width:100%;
	font-size:11px;
	color:#000000;
	float:left;
	padding-bottom:10px;
	line-height:14px;
	/*line-height:25px;*/
	}
.graph{
	float:left; 
	background:#cbcbcb; 
	width:97%; 
	line-height:18px;
	}
.graph span{
	float:left; 
	width:30%; 
	background:#aeaeae;
	}
.left-title{
	display:block;
	width:47%;
	text-align:right;
	padding:0px 2px;
	float:left;
	}
.right-ans{
	float:left;
	width:47%;
	padding-left:8px;
	text-align:left;
	}
#con-tabs .citydeal ul li.graphdisplay{
	padding-left:2px;
	}
.social-icons{	
	float:left;
	padding-left:3px;
	}
.social-icons img{
	padding:3px 1px;
	}
#rec-donation{
	/*right:3px;*/
	right:314px;
	top:0px;
	position:absolute;
	background:url(images/rec-donation.png) top left no-repeat;
	/*font-family: Arial, Helvetica, sans-serif;*/
	color:#515151;
	width:92px;
	line-height:18px;
	font-size:11px;
	/*padding:5px 323px 0px 12px;*/
	padding:5px 12px 0px 12px;
	min-height:117px;
	}
#rec-donation h6{
	margin:0px;
	padding:0px 0px 4px 0px;
	font-family:"Arial Narrow", Arial, Verdana;
	font-size:17px;
	color:#000000;
	}
	
	.comment_msg { color:#009900; font-size:12px; font-weight:bold; line-height:20px; padding-bottom:5px; }